#card{
  background-color: #2e7fe8;
}
#card3{
  background-color: rgb(37, 195, 138);
}
#row1-card1 {
  background-color: rgb(13, 0, 89);
}
#card4{
  background-color: rgb(0, 0, 0);
}
.card-heading{
  font-family: sans-serif;
  color: #000;
}
.card-heading h6{
font-size: 13px;
}

/* Styling DropDowns */
.drop1{
  width: 190px;
}
