.R3{
  margin: 20px;
}
.c2{
  margin-left: 20%;
}
.card-heading{
  color:#000;
}
#result-header-card{
  margin-left: 20%;
}
.result-footer{
  background-color:lawgreen;
}
.graph{
  margin-bottom: 20%;
}
