*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* font-size: 62.5%; */
  font-family: sans-serif;
}

.container-fluid{
  background-image:linear-gradient(to bottom right, rgba(155, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("signup.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  color: #FAFAFA;
}
